<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Animal information</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div th:include="fragments/header"></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 lead">Animal Info<hr></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <img id="img-preview" class="img-rounded" alt="animal photo"
                                 th:src="${animal.image == null} ? '//placehold.it/320x240?text=NO PHOTO' : @{|/animals/images/${animal.id}|}">
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div id="animal-info" class="col-md-6">
                                    <br>
                                    <span class="text-muted">Type: </span><span th:text="${animal.type}"></span><br><br>
                                    <span class="text-muted">Gender: </span><span th:text="${animal.gender}"></span><br><br>
                                    <span class="text-muted">Name: </span><span th:text="${animal.name}"></span><br><br>
                                    <span class="text-muted">Age: </span><span th:text="${animal.age}"></span><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')">
                        <a th:href="@{|/animals/edit/${animal.id}|}"><button class="btn btn-primary" style="width:70px">Edit</button></a>
                        <a th:href="@{|/animals/delete/${animal.id}|}"><button class="btn btn-danger"style="width:70px">Delete</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>