<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{|/css/bootstrap_col_15.css|}" />
    <link rel="stylesheet" type="text/css" th:href="@{|/css/zoo.css|}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{|/js/validator.min.js|}"></script>
</head>
<body>

</body>
</html>