<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Users List</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<div class="page-header">
			<h1>Users List</h1>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Username</th>
					<th>E-mail</th>
					<th>Role</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tr th:each="user : ${users}">
				<td><span th:text="${user.username}"></span></td>
				<td><span th:text="${user.email}"></span></td>
				<td><span th:text="${user.role.ordinal() == 0} ? 'USER' : 'ADMIN'"></span></td>
				<td><a th:href="@{|/users/${user.id}/edit|}"><i
						class="glyphicon glyphicon-pencil"></i></a></td>
				<td><a th:href="@{|/users/${user.id}/remove|}"><i
						class="glyphicon glyphicon-trash"></i></a></td>
			</tr>
		</table>
	</div>
</body>
</html>