<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Edit User</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div th:include="fragments/header"></div>
	<div class="container">
		<h3>Editing User <span th:text="${user.username}"></span></h3>
		<div th:include="users/form :: userform(@{|/users/${user.id}|})"></div>
    </div>
</body>
</html>

