<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Profile</title>
	<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div th:include="fragments/header"></div>
	<br>
	<div class="container">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="border-radius: 5px; border-bottom-width: thick; background-color: ghostwhite; padding: 5%; text-align: center;">
			<h3>Account details:</h3>
			<hr>
			<div class="panel"><b>username: </b> <span th:text="${user.username}"></span> </div>
			<div class="panel"><b>e-mail: </b>   <span th:text="${user.email}"></span> </div>
			<span>Assigned as </span><span th:text="${user.role.ordinal() == 0} ? 'User' : 'Admin'"></span>
		</div>
	</div>
</body>
</html>